/* your styling here */

/*basic container to show message*/


.box
{
 	position:absolute;
  bottom: 0;
  right: 0;
}
.message
{  
  border: 1px solid rgb(0,0,0);
  padding: 5px;
  border-radius: 5px;
  color: rgb(0,0,0);
  margin: 5px;
  background-color: rgb(255,255,255);
}
/*for a warning box*/
.warn
{
	background-color: rgb(255,255,0);
}

/*for an error box*/
.error
{
	background-color: rgb(255,0,0);
	color: rgb(255,255,255);
}